@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.729) 50%, rgba(88, 24, 88, 0.515) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.first-content {
   margin-bottom: 10px;
    
}

.title {
    margin-left: 35px;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
}

.paragraph {
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    color: 	#d0d0d0;
    font-weight: 400;
    font-size: 20px;
}

.user {
    font-family: 'Nunito', sans-serif;
}

.user-information {
    border-radius: 1000px;
    border-style: none;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    padding-left: 10px; 
    background-color: rgba(128, 128, 128, 0.267);
}

.login-content  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffff;
    width: 200px;
    height: 220px;
    padding: 29px;
    border-radius: 16px;
}

.btn {
    background-color: 	#7FFF00;
    border-radius: 16rem;
    border-style: none;
    height: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;

    translate: transform .5s;  /*Animation of button*/ 
}

/*Animation of button*/

.btn:hover {
    transform: scale(0.96);
    background-color:rgba(105, 105, 105, 0.444);
}

.credits-for-creator {
    display: flex;
    flex-direction: column; 
    text-align: center;
}


.title-2 {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;

}

.creator {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #ffff;
    
}

/*Animation*/

.first-content {
    animation: fromTop .7s backwards;
}

.login-content {
    animation: fromTop .14s backwards;
}

.credits-for-creator {
    animation: fromTop .21s backwards;
}
@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0)
    }
    
}

/*Project made by @gabrieellh*/